<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mosaic Of Memories</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='history.css') }}">
</head>

<body>
    <header>
        <button class="image-button" id="backBtn" onclick="returnToHome()">
            <img src="https://raw.githubusercontent.com/kennethbacuno/paraSaMoM/main/back.png" alt="Menu Button">
        </button>
    </header>
    <div class="table-container">
        <h1>Mosaic of Memories Visit History</h1>
        <table class="museum-table">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Visitor ID</th>
                    <th>Body Temperature</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for visitor in visitors %}
                <tr>
                    <td>{{ visitor.id }}</td>
                    <td>{{ visitor.visitor_id }}</td>
                    <td>{{ visitor.body_temperature }}</td>
                    <td>{{ visitor.date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        var backBtn = document.getElementById("backBtn");
        // Add a click event listener to the button
        backBtn.addEventListener("click", function () {
            // Redirect to the new HTML file
            window.location.href = "http://127.0.0.1:5000";
        });
    </script>
</body>

</html>